.home {
  padding: 0 0 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    .title {
      margin: 0;
      line-height: 1.6;
      font-size: 36px;
    }

    .description {
      line-height: 1.6;
      font-size: 20px;
    }

    .wrapper {
      width: 500px;
      height: 500px;
      position: relative;
      overflow: hidden;

      .image {
        background-color: #eee;
        transition: 0.5s all ease-in-out;
      }

      .image:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .home {
    .intro {
      padding: 10% 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      .wrapper {
        width: 100%;
        height: 75%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    .intro {
      padding: 20% 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      .wrapper {
        width: 100%;
        height: 60%;
      }
    }
  }
}