.footer {
  border-top: 1px solid #eaeaea;
  padding: 95px 0 100px;
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;

  p {
    width: 55%;
    font-size: 12px;
    line-height: 18px;
  }

  a,
  small {
    margin: 20px 0;
  }
}

.social {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div,
  .icon {
    transition: all 0.5s ease;
  }

  div:hover,
  .icon:hover {
    color: orangered;
    cursor: pointer;
  }
}

.logo {
  height: 1em;
  margin-left: 0.1rem;
}

@media screen and (max-width: 900px) {
  .footer {
    border-top: 1px solid #eaeaea;
    padding: 60px 0;
  }

  .body {
    flex-direction: column-reverse;

    p {
      text-align: center;
      width: 100%;
    }

    a,
    p,
    small,
    span {
      margin: 10px 0;
    }
  }
}
