.footer {
  padding: 95px 0 100px;
}

.body {
  display: flex;
  width: 100%;
  color: #777;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 12px;
    line-height: 18px;
    width: 55%;
  }

  a,
  small {
    margin: 20px 0;
  }
}

.social {
  display: flex;
  width: 285px;
  justify-content: space-between;
  align-items: center;

  div,
  .icon {
    transition: all 0.3s ease;
  }

  div:hover,
  .icon:hover {
    cursor: pointer;
    color: orangered;
  }
}

.logo {
  height: 1em;
  margin-left: 0.1rem;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 60px 0;
    border-top: 1px solid #eaeaea;
  }

  .body {
    flex-direction: column-reverse;

    p {
      width: 100%;
      text-align: center;
    }

    a,
    p,
    small,
    span {
      margin: 10px 0;
    }
  }
}
